.container {
    width: 1600px;
    border-radius: 20px;
    padding: 20px;
    background-color: #F3F1FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container_header {
        width: 100%;
        margin-bottom: 30px;
    }

    .table_container {
        width: 100%;
        border-radius: 20px;

        .second_toolbar {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: #725CCC;
            height: 100px;
            width: 100%;
        }
        
        table {
            overflow: hidden;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 100%;
            border-collapse: collapse;
            .table_header{
                background-color: #DEC6F2;
                color: #6E6097;
                th {
                    text-align: left;
                    padding: 10px 20px; 
                    font-size: 24px;
                    border: none;
                }
            }
            .table_value {
                td {
                    background-color: white;
                    text-align: left;
                    padding: 10px 20px;
                    color: #4F4747;
                    border-top: 1px solid #F6F3F9;
                    border-bottom: 1px solid #F6F3F9;
                    font-size: 24px;
                }
            }

        }


    }
}